/*
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
*/

body {
    font: 14px Arial,sans-serif; 
    margin: 0px;
}
.header {
    padding: 10px 20px;
    background: #acb3b9; 
}
.header h1 {
    font-size: 24px;
}
.container {
    width: 100%;
    background: #f2f2f2; 
}
.nav, .section {
    float: left; 
    padding: 20px;
    min-height: 170px;
    box-sizing: border-box;
    overflow-y: scroll;
}
.nav {            
    width: 10%;             
    background: #d4d7dc;
}
.section {
    width: 90%;
}
.nav ul {
    list-style: none; 
    line-height: 24px;
    padding: 0px; 
}
.nav ul li a {
    color: #333;
}
td {
    font-family: monospace;
}
ul {
    margin-left: 0px;
}
ul ul{
    margin-left: 20px;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.footer {
    background: #acb3b9;            
    text-align: center;
    padding: 5px;
}
.errorBox {
    background: lightgrey;
    color: darkred;
    font-family: monospace;
}
.subtable {
    border:2px solid lightslategrey;
    border-radius: 5px;
    padding:15px;
    background-color:lightgrey;
    margin: 5px;
}
.onerow {
    display: flex;
    flex-direction: row;
}

/* Tabsheet Styles */
.tabsheet {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 10px;
}
.tabsheetHeader {
    display: flex;
    flex-direction: row;
}
.tabsheetBody {
    border-left: 2px solid lightslategray;
    border-bottom: 2px solid lightslategray;
    border-right: 2px solid lightslategray;
    padding: 5px;
}
.tabsheetStart {
    border-bottom: 2px solid lightslategray;
    width: 10px;
}
.tabsheetFiller {
    border-bottom: 2px solid lightslategray;
    flex-grow: 1;
}
.tabsheetSelected {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: none;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-family: monospace;
    font-weight: bold;
    background-color: lightgrey;
}
.tabsheetUnselected {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid lightslategray;
    border-bottom: 2px solid lightslategray;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-family: monospace;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
