body,
html {
  height: 100%;
  font-size: 16px;
}

#app {
  height: 100%;
}

.sk-capitalize {
  text-transform: capitalize;
}

.color-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
  border: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--200);
  border-radius: 50%;
  vertical-align: middle;
  background: currentColor;
  /* Optionally, add a subtle box-shadow for better visibility */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
}
