body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topbar, .leftbar, .footer {
  background-color:cornflowerblue;
}

.topbar {
  vertical-align: middle;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size:x-large;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.leftbar {
  width: 50px;
  float:left
}

.app {
  float:right
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}