<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skupper-X Network and Compose</title>
    <style>
        body {
            font: 14px Arial,sans-serif; 
            margin: 0px;
        }
        .header {
            padding: 10px 20px;
            background: #acb3b9; 
        }
        .header h1 {
            font-size: 24px;
        }
        .container {
            width: 100%;
            background: #f2f2f2; 
        }
        .nav, .section {
            float: left; 
            padding: 20px;
            min-height: 170px;
            box-sizing: border-box;
            overflow-y: scroll;
        }
        .nav {            
            width: 10%;             
            background: #d4d7dc;
        }
        .section {
            width: 90%;
        }
        .nav ul {
            list-style: none; 
            line-height: 24px;
            padding: 0px; 
        }
        .nav ul li a {
            color: #333;
        }
        td {
            font-family: monospace;
        }
        ul {
            margin-left: 0px;
        }
        ul ul{
            margin-left: 20px;
        }
        .clearfix:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
        .footer {
            background: #acb3b9;            
            text-align: center;
            padding: 5px;
        }
    </style>
</head>
<body onload="start()" onresize="setHeight()">
    <div class="container">
        <div class="header">
            <h1>Skupper-X Network and Compose</h1>
        </div>
        <div id="wrapperdiv" class="wrapper clearfix">
            <div id="navdiv" class="nav">
                <ul>
                    <li><a id="tab-home" href="#">Home</a></li>
                    <li>Network:</li>
                    <li>
                        <ul>
                            <li><a id="tab-bone" href="#" onclick="toBackboneTab()">Backbones</a></li>
                            <li><a id="tab-van"  href="#" onclick="toVanTab()">VANs</a></li>
                        </ul>
                    </li>
                    <li>Compose:</li>
                    <li>
                        <ul>
                            <li><a id="tab-lib" href="#" onclick="toLibraryTab()">Library</a></li>
                            <li><a id="tab-app" href="#" onclick="toApplicationTab()">Applications</a></li>
                            <li><a id="tab-dep" href="#" onclick="toDeploymentTab()">Deployments</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="sectiondiv" class="section">
            </div>
        </div>
        <div class="footer">
            <p>copyright &copy; Skupper-X</p>
        </div>
    </div>

    <script>
function start() {
    setHeight()
}

function setHeight() {
    const newHeight = `${window.innerHeight - 134}px`;
    document.getElementById("wrapperdiv").style.height = newHeight;
    document.getElementById("navdiv").style.height = newHeight;
    document.getElementById("sectiondiv").style.height = newHeight;
}

async function toBackboneTab(focus) {
    document.getElementById("tab-home").style.fontWeight = 'normal';
    document.getElementById("tab-bone").style.fontWeight = 'bold';
    document.getElementById("tab-van").style.fontWeight  = 'normal';
    document.getElementById("tab-lib").style.fontWeight  = 'normal';
    document.getElementById("tab-app").style.fontWeight  = 'normal';
    document.getElementById("tab-dep").style.fontWeight  = 'normal';
    document.getElementById("sectiondiv").innerHTML = `<h2>Backbones</h2>`;
    await BuildBackboneTable(focus);
}

async function toVanTab(focus) {
    document.getElementById("tab-home").style.fontWeight = 'normal';
    document.getElementById("tab-bone").style.fontWeight = 'normal';
    document.getElementById("tab-van").style.fontWeight  = 'bold';
    document.getElementById("tab-lib").style.fontWeight  = 'normal';
    document.getElementById("tab-app").style.fontWeight  = 'normal';
    document.getElementById("tab-dep").style.fontWeight  = 'normal';
    document.getElementById("sectiondiv").innerHTML = `<h2>Virtual Application Networks</h2>`;
    await BuildVanTable(focus);
}

async function toLibraryTab() {
    document.getElementById("tab-home").style.fontWeight = 'normal';
    document.getElementById("tab-bone").style.fontWeight = 'normal';
    document.getElementById("tab-van").style.fontWeight  = 'normal';
    document.getElementById("tab-lib").style.fontWeight  = 'bold';
    document.getElementById("tab-app").style.fontWeight  = 'normal';
    document.getElementById("tab-dep").style.fontWeight  = 'normal';
    document.getElementById("sectiondiv").innerHTML = `<h2>Block Library</h2>`;
    await BuildLibraryTable();
}

async function toApplicationTab(action_result) {
    document.getElementById("tab-home").style.fontWeight = 'normal';
    document.getElementById("tab-bone").style.fontWeight = 'normal';
    document.getElementById("tab-van").style.fontWeight  = 'normal';
    document.getElementById("tab-lib").style.fontWeight  = 'normal';
    document.getElementById("tab-app").style.fontWeight  = 'bold';
    document.getElementById("tab-dep").style.fontWeight  = 'normal';
    document.getElementById("sectiondiv").innerHTML = `<h2>Applications</h2>`;
    await BuildApplicationTable();
}

async function toDeploymentTab(action_result) {
    document.getElementById("tab-home").style.fontWeight = 'normal';
    document.getElementById("tab-bone").style.fontWeight = 'normal';
    document.getElementById("tab-van").style.fontWeight  = 'normal';
    document.getElementById("tab-lib").style.fontWeight  = 'normal';
    document.getElementById("tab-app").style.fontWeight  = 'normal';
    document.getElementById("tab-dep").style.fontWeight  = 'bold';
    document.getElementById("sectiondiv").innerHTML = `<h2>Deployments</h2>`;
    await BuildDeploymentTable();
}

function SetupTable(headers) {
    let table = document.createElement('table');
    table.setAttribute('border', '1');
    table.setAttribute('cellpadding', '5');
    table.setAttribute('cellspacing', '0');
    table.setAttribute('bordercolor', 'lightgrey');

    const headerRow = table.insertRow();

    for (header of headers) {
        let hdr = document.createElement('th');
        hdr.textContent = header;
        headerRow.appendChild(hdr);
    }
    return table;
}

async function BuildBackboneTable(focus) {
    const response = await fetch('api/v1alpha2/backbones');
    const listdata = await response.json();
    let   section  = document.getElementById("sectiondiv");
    let   data     = {};

    for (const item of listdata) {
        data[item.id] = item;
    }

    if (listdata.length > 0) {
        let table = SetupTable(['Name', 'Status', 'Failure', 'Select']);
        for (item of Object.values(data)) {
            let row = table.insertRow();
            row.insertCell().textContent = item.name;
            row.insertCell().textContent = item.lifecycle.replace('partial', 'not-activated');
            row.insertCell().textContent = item.failure || '';
            let anchor = document.createElement('a');
            anchor.setAttribute('href', '#');
            if (focus == item.id) {
                anchor.style.fontWeight = 'bold';
                anchor.setAttribute('onclick', `toBackboneTab()`);
                anchor.textContent = 'close';
            } else {
                anchor.setAttribute('onclick', `toBackboneTab('${item.id}')`);
                anchor.textContent = 'open';
            }
            row.insertCell().appendChild(anchor);
        }

        section.appendChild(table);
    } else {
        let empty = document.createElement('i');
        empty.textContent = 'No Backbones Found';
        section.appendChild(empty);
    }

    let button = document.createElement('button');
    button.setAttribute('onclick', `BackboneForm()`);
    button.textContent = 'Create Backbone...';
    section.appendChild(document.createElement('p'));
    section.appendChild(button);

    if (focus) {
        let line = document.createElement('hr');
        line.setAttribute('width', '50%');
        line.setAttribute('align', 'left');
        section.appendChild(line);

        let title = document.createElement('h3');
        title.textContent = data[focus].name;
        section.appendChild(title);
    }
}

async function BackboneForm() {
    let section = document.getElementById("sectiondiv");
    section.innerHTML = `
    <h2>Create a Backbone Network</h2>
    <table cellPadding="4">
      <tr><td style="text-align:right">Backbone Name:</td><td><input id="bbname" type="text" name="name"></input></td></tr>
      <tr><td style="text-align:right"></td><td><button onclick="BackboneSubmit(document.getElementById('bbname').value)">Submit</button></td></tr>
    </table>
    `;
}

async function BackboneSubmit(name) {
    console.log(`BackboneSubmit: name=${name}`);
    const response = await fetch('api/v1alpha2/backbones', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            name : name,
        }),
    });

    if (response.ok) {
        const data = await response.json();
        await toBackboneTab(data.id, 'Backbone Create Successful');
    } else {
        const message = await response.text();
        await toBackboneTab(undefined, `Backbone Create Failed: ${message}`);
    }
}

async function BuildVanTable(focus) {
    const response = await fetch('api/v1alpha1/vans');
    const listdata = await response.json();
    let   section  = document.getElementById("sectiondiv");
    let   data     = {};

    for (const item of listdata) {
        data[item.id] = item;
    }

    if (listdata.length > 0) {
        let table = SetupTable(['Name', 'Backbone', 'Status', 'Failure', 'Start Time', 'End Time', 'Select']);
        for (item of Object.values(data)) {
            let row = table.insertRow();
            row.insertCell().textContent = item.name;
            row.insertCell().textContent = item.backbonename;
            row.insertCell().textContent = item.lifecycle.replace('partial', 'not-activated');
            row.insertCell().textContent = item.failure || '';
            row.insertCell().textContent = item.starttime;
            row.insertCell().textContent = item.endtime || 'until deleted';
            let anchor = document.createElement('a');
            anchor.setAttribute('href', '#');
            if (focus == item.id) {
                anchor.style.fontWeight = 'bold';
                anchor.setAttribute('onclick', `toVanTab()`);
                anchor.textContent = 'close';
            } else {
                anchor.setAttribute('onclick', `toVanTab('${item.id}')`);
                anchor.textContent = 'open';
            }
            row.insertCell().appendChild(anchor);
        }

        section.appendChild(table);
    } else {
        let empty = document.createElement('i');
        empty.textContent = 'No VANs Found';
        section.appendChild(empty);
    }

    let button = document.createElement('button');
    button.setAttribute('onclick', `VanForm()`);
    button.textContent = 'Create VAN...';
    section.appendChild(document.createElement('p'));
    section.appendChild(button);

    if (focus) {
        let line = document.createElement('hr');
        line.setAttribute('width', '50%');
        line.setAttribute('align', 'left');
        section.appendChild(line);

        let title = document.createElement('h3');
        title.textContent = data[focus].name;
        section.appendChild(title);

        const siteResult = await fetch(`api/v1alpha1/vans/${focus}/members`);
        const listdata   = await siteResult.json();
        const siteData   = {};

        for (const siteItem of listdata) {
            siteData[siteItem.id] = siteItem;
        }

        if (listdata.length > 0) {
            let siteTable = SetupTable(['Name', 'Status', 'Failure', 'First Active Time', 'Last Heartbeat', 'Select']);
            for (const site of Object.values(siteData)) {
                let row = siteTable.insertRow();
                row.insertCell().textContent = site.name;
                row.insertCell().textContent = site.lifecycle;
                row.insertCell().textContent = site.failure;
                row.insertCell().textContent = site.firstactivetime;
                row.insertCell().textContent = site.lastheartbeat;
                let siteAnchor = document.createElement('a');
                siteAnchor.setAttribute('href', '#');
                if (focus == site.id) {
                    siteAnchor.style.fontWeight = 'bold';
                    siteAnchor.setAttribute('onclick', `toVanTab(${focus})`);
                    siteAnchor.textContent = 'close';
                } else {
                    siteAnchor.setAttribute('onclick', `toVanTab('${focus}', '${site.id}')`);
                    siteAnchor.textContent = 'open';
                }
                row.insertCell().appendChild(siteAnchor);
            }
            section.appendChild(siteTable);
        } else {
            let empty = document.createElement('i');
            empty.textContent = 'No Members in the VAN';
            section.appendChild(empty);
        }
    }
}

async function BuildLibraryTable() {
    const response = await fetch('compose/v1alpha1/library/blocks');
    const rawdata  = await response.json();
    let data = {};
    for (d of rawdata) {
        if (!data[d.name] || d.revision > data[d.name].revision) {
            data[d.name] = d;
        }
    }

    let table = SetupTable(['Name', 'Type', 'Rev', 'Created']);
    for (item of Object.values(data)) {
        let row = table.insertRow();
        let anchor = document.createElement('a');
        anchor.setAttribute('href', '#');
        anchor.setAttribute('onclick', `LibDetail('${item.id}')`);
        anchor.textContent = item.name;
        row.insertCell().appendChild(anchor);
        row.insertCell().textContent = item.type.replace('skupperx.io/', '');
        row.insertCell().textContent = item.revision;
        row.insertCell().textContent = item.created;
    }

    document.getElementById("sectiondiv").appendChild(table);
}

function countLines(str) {
    return !!str ? (str.match(/\r\n|\r|\n/g) || []).length + 1 : 1;
}

function TextArea(item, title, section, cols=60) {
    let hdr = document.createElement('h3');
    hdr.textContent = title;
    section.appendChild(hdr);
    let textarea = document.createElement('textarea');
    textarea.setAttribute('cols', `${cols}`);
    textarea.setAttribute('rows', `${countLines(item)}`);
    textarea.setAttribute('readonly', 't');
    textarea.textContent = item;
    section.appendChild(textarea);
}

async function LibDetail(lbid) {
    const response = await fetch(`compose/v1alpha1/library/blocks/${lbid}`);
    const data = await response.json();
    console.log('response', response);
    console.log('data', data);
    let section = document.getElementById("sectiondiv");
    section.innerHTML = `<h2>${data.name};${data.revision}</h2>`;
    if (data.inherit != '') {
        TextArea(data.inherit, 'Inherit', section);
    }
    if (data.config != '') {
        TextArea(data.config, 'Config', section);
    }
    if (data.interfaces != '') {
        TextArea(data.interfaces, 'Interfaces', section);
    }
    if (data.specbody != '') {
        TextArea(data.specbody, 'Body', section, 100);
    }
}

async function BuildApplicationTable() {
    const response = await fetch('compose/v1alpha1/applications');
    const data     = await response.json();
    let   section  = document.getElementById("sectiondiv");

    if (data.length > 0) {
        let table = SetupTable(['Name', 'Root Block', 'Lifecycle']);
        for (item of Object.values(data)) {
            let row = table.insertRow();

            let anchor = document.createElement('a');
            anchor.setAttribute('href', '#');
            anchor.setAttribute('onclick', `AppDetail('${item.id}')`);
            anchor.textContent = item.name;
            row.insertCell().appendChild(anchor);

            anchor = document.createElement('a');
            anchor.setAttribute('href', '#');
            anchor.setAttribute('onclick', `LibDetail('${item.rootblock}')`);
            anchor.textContent = item.rootname;
            row.insertCell().appendChild(anchor);

            row.insertCell().textContent = item.lifecycle;
        }

        section.appendChild(table);
    } else {
        let empty = document.createElement('i');
        empty.textContent = 'No Applications Found';
        section.appendChild(empty);
    }

    let button = document.createElement('button');
    button.setAttribute('onclick', `AppForm()`);
    button.textContent = 'Create Application...';
    section.appendChild(document.createElement('p'));
    section.appendChild(button);
}

async function AppDetail(apid, action) {
    let buildtext  = undefined;
    let deletetext = undefined;
    if (action == 'build') {
        const buildresponse = await fetch(`compose/v1alpha1/applications/${apid}/build`, {method: 'PUT'});
        buildtext = buildresponse.ok ? await buildresponse.text() : `${buildresponse.status} - ${await buildresponse.text()}`;
    } else if (action == 'delete') {
        const deleteresponse = await fetch(`compose/v1alpha1/applications/${apid}`, {method: 'DELETE'});
        deletetext = deleteresponse.ok ? await deleteresponse.text() : `${deleteresponse.status} - ${await deleteresponse.text()}`;
        if (deleteresponse.ok) {
            let   section  = document.getElementById("sectiondiv");
            section.innerHTML = '<h2>Application Deleted</h2>';
            return;
        }
    }

    const response = await fetch(`compose/v1alpha1/applications/${apid}`);
    const data     = await response.json();
    let   section  = document.getElementById("sectiondiv");
    let innerHtml = `
      <h2>${data.name}</h2>
      <table cellPadding="4">
        <tr><td style="text-align:right">Created:</td><td>${data.created}</td></tr>
        <tr><td style="text-align:right">Root Block:</td><td>${data.rootname}</td></tr>
        <tr><td style="text-align:right">Lifecycle:</td><td>${data.lifecycle}</td></tr>
        <tr><td><button onClick="AppDetail('${apid}', 'build')">Build</button></td><td id="buildtextcell"></td></tr>
        <tr><td><button onClick="AppDetail('${apid}', 'delete')">Delete</button></td><td id="deletetextcell"></td></tr>
      </table>
    `;

    if (data.lifecycle != 'created') {
        innerHtml += `
            <h3>Application Blocks</h3>
            <table cellPadding="4" cellSpacing="0" border="1">
            <tr><th>Instance Name</th><th>Library Block</th></tr>
        `;
        const iBlockResponse = await fetch(`compose/v1alpha1/applications/${apid}/blocks`);
        const iBlocks        = await iBlockResponse.json();
        for (const ib of iBlocks) {
            innerHtml += `
                <tr>
                    <td>${ib.instancename}</td>
                    <td><a href="#" onclick="LibDetail('${ib.libraryblock}')">${ib.libname};${ib.revision}<\a></td>
                </tr>
            `;
        }
        innerHtml += `
            </table>
        `;
    }

    section.innerHTML = innerHtml;

    TextArea(data.buildlog, 'Build Log', section, 250);

    if (buildtext) {
        document.getElementById("buildtextcell").innerText = buildtext;
    }
    if (deletetext) {
        document.getElementById("deletetextcell").innerText = deletetext;
    }
}

async function AppForm() {
    const libresponse = await fetch('compose/v1alpha1/library/blocks');
    const libdata     = await libresponse.json();

    let   section  = document.getElementById("sectiondiv");
    section.innerHTML = `
    <h2>Create an Application</h2>
    <table cellPadding="4">
      <tr><td style="text-align:right">Application Name:</td><td><input id="appname" type="text" name="name"></input></td></tr>
      <tr><td style="text-align:right">Root Block:</td><td><select id="rootselect" name="rootblock"></select></td></tr>
      <tr><td style="text-align:right"></td><td><button onclick="AppSubmit(document.getElementById('appname').value, document.getElementById('rootselect').value)">Submit</button></td></tr>
    </table>
    `;

    //
    // Populate the root-block selector
    //
    for (const block of libdata) {
        if (block.type == 'skupperx.io/container') {
            let option = document.createElement('option');
            option.setAttribute('value', `${block.id}`);
            option.textContent = `${block.name};${block.revision}`;
            document.getElementById('rootselect').appendChild(option);
        }
    }
}

async function AppSubmit(name, rootblock) {
    console.log(`AppSubmit: name=${name} rootblock=${rootblock}`);
    const response = await fetch('compose/v1alpha1/applications', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            name      : name,
            rootblock : rootblock,
        }),
    });

    let notice = response.ok ? 'Application Create Successful' : `Application Create Failed: ${await response.text()}`;
    console.log('Notice', notice);
    await toApplicationTab(notice);
}

async function BuildDeploymentTable() {
    const response = await fetch('compose/v1alpha1/deployments');
    const data     = await response.json();
    let   section  = document.getElementById("sectiondiv");

    if (data.length > 0) {
        let table = SetupTable(['Detail', 'Application', 'VAN', 'Lifecycle']);
        for (item of Object.values(data)) {
            let row = table.insertRow();

            let anchor = document.createElement('a');
            anchor.setAttribute('href', '#');
            anchor.setAttribute('onclick', `DepDetail('${item.id}', '${item.van}')`);
            anchor.textContent = 'detail';
            row.insertCell().appendChild(anchor);

            anchor = document.createElement('a');
            anchor.setAttribute('href', '#');
            anchor.setAttribute('onclick', `AppDetail('${item.application}')`);
            anchor.textContent = item.appname;
            row.insertCell().appendChild(anchor);

            row.insertCell().textContent = item.vanname;
            row.insertCell().textContent = item.lifecycle;
        }

        section.appendChild(table);
    } else {
        let empty = document.createElement('i');
        empty.textContent = 'No Deployments Found';
        section.appendChild(empty);
    }

    let button = document.createElement('button');
    button.setAttribute('onclick', `DepForm()`);
    button.textContent = 'Create Deployment...';
    section.appendChild(document.createElement('p'));
    section.appendChild(button);
}

async function DepDetail(depid, vanid, action) {
    let deploytext  = undefined;
    let deletetext = undefined;
    if (action == 'deploy') {
        const deployresponse = await fetch(`compose/v1alpha1/deployments/${depid}/deploy`, {method: 'PUT'});
        deploytext = deployresponse.ok ? await deployresponse.text() : `${deployresponse.status} - ${await deployresponse.text()}`;
    } else if (action == 'delete') {
        const deleteresponse = await fetch(`compose/v1alpha1/deployments/${depid}`, {method: 'DELETE'});
        deletetext = deleteresponse.ok ? await deleteresponse.text() : `${deleteresponse.status} - ${await deleteresponse.text()}`;
        if (deleteresponse.ok) {
            let   section  = document.getElementById("sectiondiv");
            section.innerHTML = '<h2>Deployment Deleted</h2>';
            return;
        }
    }

    const response  = await fetch(`compose/v1alpha1/deployments/${depid}`);
    const data      = await response.json();
    let   section   = document.getElementById("sectiondiv");
    let   innerHtml = `
      <h2>Deployment</h2>
      <table cellPadding="4">
        <tr><td style="text-align:right">Application:</td><td>${data.appname}</td></tr>
        <tr><td style="text-align:right">VAN:</td><td>${data.vanname}</td></tr>
        <tr><td style="text-align:right">Lifecycle:</td><td>${data.lifecycle}</td></tr>
        <tr><td><button onClick="DepDetail('${depid}', '${vanid}', 'deploy')">Deploy</button></td><td id="deploytextcell"></td></tr>
        <tr><td><button onClick="DepDetail('${depid}', '${vanid}', 'delete')">Delete</button></td><td id="deletetextcell"></td></tr>
      </table>`;

    if (data.lifecycle == 'deployed') {
        innerHtml += `
        <h2>Site-Specific Configuration for members of this VAN</h2>
        <table cellPadding="4">
            <tr><td><select id="vanmember" onchange="DepMemberChange('${depid}')"></select></td><td><a id="vananchor" download></a></td></tr>
        </table>
        `;
    }

    section.innerHTML = innerHtml;

    TextArea(data.deploylog, 'Deploy Log', section, 150);

    //
    // Populate the VAN member selector
    //
    vanresponse = await fetch(`api/v1alpha1/vans/${vanid}/members`);
    console.log(vanresponse);
    vandata     = await vanresponse.json();
    for (const member of vandata) {
        console.log('Member', member);
        let option = document.createElement('option');
        option.setAttribute('value', `${member.id}`);
        option.textContent = member.name;
        document.getElementById('vanmember').appendChild(option);
    }

    await DepMemberChange(depid);

    if (deploytext) {
        document.getElementById("deploytextcell").innerText = deploytext;
    }
    if (deletetext) {
        document.getElementById("deletetextcell").innerText = deletetext;
    }
}

async function DepMemberChange(depid) {
    let anchor   = document.getElementById("vananchor");
    let select   = document.getElementById("vanmember");
    let sitename = select.selectedOptions[0].textContent;
    anchor.setAttribute('href', `compose/v1alpha1/deployments/${depid}/site/${select.value}/sitedata/${sitename}.yaml`);
    anchor.textContent = `Download site data for ${sitename}`;
}

async function DepForm() {
    const appresponse = await fetch('compose/v1alpha1/applications');
    const appdata     = await appresponse.json();
    const vanresponse = await fetch('api/v1alpha1/vans');
    const vandata     = await vanresponse.json();

    let   section  = document.getElementById("sectiondiv");
    section.innerHTML = `
    <h2>Create a Deployment</h2>
    <table cellPadding="4">
      <tr><td style="text-align:right">Application:</td><td><select id="appselect"></select></td></tr>
      <tr><td style="text-align:right">VAN:</td><td><select id="vanselect"></select></td></tr>
      <tr><td style="text-align:right"></td><td><button onclick="DepSubmit(document.getElementById('appselect').value, document.getElementById('vanselect').value)">Submit</button></td></tr>
    </table>
    `;

    //
    // Populate the application selector
    //
    for (const app of appdata) {
        let option = document.createElement('option');
        option.setAttribute('value', `${app.id}`);
        option.textContent = app.name;
        document.getElementById('appselect').appendChild(option);
    }

    //
    // Populate the van selector
    //
    for (const van of vandata) {
        let option = document.createElement('option');
        option.setAttribute('value', `${van.id}`);
        option.textContent = van.name;
        document.getElementById('vanselect').appendChild(option);
    }
}

async function DepSubmit(app, van) {
    console.log(`DepSubmit: app=${app} van=${van}`);
    const response = await fetch('compose/v1alpha1/deployments', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            app : app,
            van : van,
        }),
    });

    let notice = response.ok ? 'Deployment Create Successful' : `Deployment Create Failed: ${await response.text()}`;
    console.log('Notice', notice);
    await toDeploymentTab(notice);
}
</script>

</body>
</html>