<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skupper-X Network, Compose, Deploy</title>
    <link rel="stylesheet" href="css/page.css">
    <link rel="stylesheet" href="css/editor.css">
    <script type="module">
        import { Start, SetHeight, toBackboneTab, toVanTab, toLibraryTab, toApplicationTab, toDeploymentTab } from "./page.js";
        globalThis.Start            = Start;
        globalThis.SetHeight        = SetHeight;
        globalThis.toBackboneTab    = toBackboneTab;
        globalThis.toVanTab         = toVanTab;
        globalThis.toLibraryTab     = toLibraryTab;
        globalThis.toApplicationTab = toApplicationTab;
        globalThis.toDeploymentTab  = toDeploymentTab;
    </script>
</head>
<body onload="Start()" onresize="SetHeight()">
    <div class="container">
        <div class="header">
            <h1>Skupper-X Network, Compose, Deploy</h1>
        </div>
        <div id="wrapperdiv" class="wrapper clearfix">
            <div id="navdiv" class="nav">
                <ul>
                    <li><a id="tab-home" href="#">Home</a></li>
                    <li>Network:</li>
                    <li>
                        <ul>
                            <li><a id="tab-bone" href="#" onclick="toBackboneTab()">Backbones</a></li>
                            <li><a id="tab-van"  href="#" onclick="toVanTab()">VANs</a></li>
                        </ul>
                    </li>
                    <li>Compose:</li>
                    <li>
                        <ul>
                            <li><a id="tab-lib" href="#" onclick="toLibraryTab()">Library</a></li>
                            <li><a id="tab-app" href="#" onclick="toApplicationTab()">Applications</a></li>
                        </ul>
                    </li>
                    <li>Deploy:</li>
                    <li>
                        <ul>
                            <li><a id="tab-dep" href="#" onclick="toDeploymentTab()">Deployments</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="sectiondiv" class="section">
            </div>
        </div>
        <div class="footer">
            <p>copyright &copy; Skupper-X</p>
        </div>
    </div>
</body>
</html>